<!--页头-->
<ion-header-bar class="bar-header bar-stable" align-title="center" id="u_header">
  <button class="button button-icon icon ion-ios-arrow-left" ng-click="backWard()"></button>
  <h1 class="title">职业体验报告</h1>
</ion-header-bar>

<ion-content class=" has-header ">
  <!-- 内容-->
  <main class="report career">
    <div class="page1">
        <div><a class="red">*</a>实习时间：<input type="text"  id="dateSelectorOne"></div>
        <div><a class="red">*</a>实习地点：<input type="text"/></div>
        <div><a class="red">*</a>公司名称：<input type="text"/></div>
        <div><a class="red">*</a>实习岗位：<input type="text"/></div>
        <div>
           <a class="red">*</a>是否提前离职：
            <input type="radio" name="way" value="0"/>是
            <input type="radio" name="way" value="1"/>否
        </div>
        <div>
            <a class="red">*</a> 计酬方式：
            <input type="radio" name="way" value="0"/>计件
            <input type="radio" name="way" value="1"/>提成
            <input type="radio" name="way" value="3"/>其他
        </div>
        <div>
            <a class="red">*</a>
            通过何种方式得到体验岗位：
            <div class="container">
                <span ng-repeat="h in list">  <br ng-show="h.id==3"/>
                <input type="radio" name="name" value="{{h.id}}" />{{h.name}}
            </span>
            </div>
        </div>
        <div>
            <a class="red">*</a>
            完成该项任务所需的职业技能是：<br/>
            <textarea></textarea>
        </div>
        <div>
            <a class="red">*</a>
            3周或4周后发现工作中的问题是什么，及解决问题方案<br/>
            <textarea></textarea>
        </div>
        <div>
            <a class="red">*</a>
            体验感悟<br/>
            <textarea></textarea>
        </div>
    </div>

     <div class="submit"> <button class="button btn-load white">提交</button></div>

  </main>



</ion-content>


<script>
    new Mdate("dateSelectorOne");

    new Mdate("dateSelectorOne", {
        acceptId: "dateSelectorTwo",
        beginYear: "2016",
        beginMonth: "10",
        beginDay: "24",
        endYear: "2024",
        endMonth: "1",
        endDay: "1",
        format: "."
    })
</script>
