<!--页头-->
<ion-header-bar class="bar-header bar-stable" align-title="center" id="u_header">
  <button class="button button-icon icon ion-ios-arrow-left" ng-click="backWard()"></button>
  <h1 class="title">霍兰德职业兴趣测试结果</h1>
</ion-header-bar>

<ion-content class=" has-header has-footer">
  <!-- 内容-->
  <main class="test">

    <!--结果-->
    <div class="result_work">
      <h3>测试结果:</h3>
      <p class="container">各类型所得总分数：</p>
      <ul class="clearfix">
          <li class="fl" ng-repeat="h in result| orderBy:result.score">{{h.type}}：{{h.score}}</li>
      </ul>
      <div class="container">
        <P>最终结果：<a>R</a><a>I</a><a>A</a></P>
        <P>适合的职业：牙科技术员、陶工、建筑设计师、细木工</P>
      </div>
    </div>
  </main>



</ion-content>



