
<ion-header-bar class="bar-header bar-stable" align-title="center" id="u_header">
    <button class="button button-icon icon ion-ios-arrow-left" ng-click="backWard()"></button>
    <h1 class="title">基本信息</h1>
</ion-header-bar>
<ion-content class=" has-header ">
    <!-- 内容-->
    <main class="information">
        <form action="" method="post"  class="list list-inset">
            <!--<div class="item item-input ">-->
            <!--<span>头像：</span>-->
            <div class="photo">
                <img src="img/avatar-edit.jpg">
                <img ng-src="showImg/{{dealer.idCardFace}}"  class="idCardFace"  enlarge-pic style="max-width:100%;max-height:100%;margin:0 auto;display:block;" />
                <input type="file" file-model="idCardFace" img-view-id="idCardFace"/>
            </div>
            <!--</div>-->
            <label class="item item-input">
                <span>公司名称：</span>
                <input type="text"  name="studentname" placeholder="请输入公司名称" ng-model="lists.name">
            </label>

            <div class="list">

                <label class="item item-input item-select">
                    <div class="input-label">
                        公司行业：
                    </div>
                    <select   ng-model="lists.trade">
                        <option value="">请选择</option>
                        <option value="0">金融</option>
                        <option value="1">互联网</option>
                        <option value="2">媒体</option>
                    </select>
                </label>
                <label class="item item-input item-select">
                    <div class="input-label">
                        企业性质：
                    </div>
                    <select ng-model="lists.nature">
                        <option value="">请选择</option>
                        <option value="0">国企</option>
                        <option value="1">外企</option>
                        <option value="2">个体</option>
                    </select>
                </label>
                <label class="item item-input item-select">
                    <div class="input-label">
                        人员规模：
                    </div>
                    <select ng-model="lists.scale">
                        <option value="">请选择</option>
                        <option value="0">0-20人</option>
                        <option value="1">20-99人</option>
                        <option value="2">100人以上</option>
                    </select>
                </label>
                <label class="item item-input">
                    <span>公司官网：</span>
                    <input type="text" placeholder="请输入公司官网" name="studentmajor" ng-model="list.url">
                </label>
            </div>



            <!--提交按钮-->
            <button class="button bg_red white button-full" type="submit" ng-click="submit()">
                提交
            </button>
        </form>
    </main>
</ion-content>








