<!--页头-->
<ion-header-bar class="bar-header bar-stable" align-title="center" id="u_header">
  <button class="button button-icon icon ion-ios-arrow-left" ng-click="backWard()"></button>
  <h1 class="title">职位管理</h1>
</ion-header-bar>

<ion-content class=" has-header ">
	<ul class="list">

			<li class="item" ng-click="jump('workDetail')">
				<i class="triangle" style="right:15px;"></i>
                <p style="font-size: 20px;">Web前端开发</p>
                <p><span>评论</span>  <span>观看</span></p>
            </li>

			<li class="item" ng-click="jump('workDetail')">
				<i class="triangle" style="right:15px;"></i>
                <p style="font-size: 20px;">Web前端开发</p>
                <p><span>评论</span>  <span>观看</span></p>
            </li>

			<li class="item" ng-click="jump('workDetail')">
				<i class="triangle" style="right:15px;"></i>
                <p style="font-size: 20px;">Web前端开发</p>
                <p><span>评论</span>  <span>观看</span></p>
            </li>

			<li class="item">
				<i class="triangle" style="right:15px;"></i>
                <p style="font-size: 20px;">Web前端开发</p>
                <p><span>评论</span>  <span>观看</span></p>
            </li>

       
    </ul>
    <div class="newbtn" ng-click="jump('postPosition')">
    	<button class="button button-full button-positive">
                           发布新职位
        </button>
    </div>

</div>
</ion-content>