<ion-header-bar class="bar-header bar-stable" align-title="center" id="u_header">
    <button class="button button-icon icon ion-ios-arrow-left" ng-click="backWard()"></button>
    <h1 class="title">面试确认函</h1>
</ion-header-bar>
<ion-content class="news bg_white">
    <div class=" yinterview">
        <img src="img/water.jpg" alt="">
        <div class="ypos"></div>
    </div>
    <div class="ycont">
        <p class="ytitle">web前端工程师</p>
        <p ng-click="dosix()" class="ycompany">郑州乐鸟软件科技有限公司</p>
        <div class="yflex">
            <div class="txt1">
                <p>面试时间：</p>
                <p>面试地点：</p>
                <p>联系人：</p>
            </div>
            <div class="txt2">
                <p>2018年5月25日 10：00</p>
                <p>河南省郑州市高新区产业总部基地七号楼三楼</p>
                <p>2333的杨先生</p>
            </div>
        </div>
        <div class="yjuzhong">
            <button class="btnsize button button-assertive">不去了，通知一声HR</button>
            <button class="button button-positive btnsize">接受邀请</button>
        </div>

    </div>
</ion-content>